/* Space out content a bit */
body {
  background-color: #111111;
  color: #666666;
  font-family: Georgia,Times,Times New Roman,serif;
  padding: 20px 0;
}

a {
  color: #666666;
  /*text-decoration: underline;*/
}

a:hover {
  color: #FFF;
}

.strikethrough {
  text-decoration: line-through;
}

.btn {
  text-decoration: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #333;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  color: #444;
  font-size: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 20px;
}

.header h3 .unicode-flakes {
  font-size: 13px;
  margin: 0 5px;
}

/* Custom page footer */
.footer {
  border-top: 1px solid #333;
  color: #444;
  font-size: 12px;
  padding-top: 20px;
}

.footer a {
  color: #666;
}

.footer .github-icon {
  margin-left: 3px;
  width: 14px;
  vertical-align: text-top;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background-color: transparent;
  text-align: center;
}

.jumbotron h1 {
  color: #666;
  background: -webkit-linear-gradient(#666, #444);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jumbotron p {
  line-height: 1.8;
  margin: 0;
}

.jumbotron hr {
  border-top-color: #333;
  max-width: 150px;
  margin: 40px auto;
}

.jumbotron .btn {
  border: 1px solid #999;
  border-radius: 0;
  margin: 40px 0;
  padding: 10px 40px;
  font-size: 30px;
}

.jumbotron .btn:hover {
  border: 1px solid #FFF;
  color: #FFF;
}

.jumbotron .micro  {
  color: #222;
  font-size: 13px;
}

#react-app {
  padding-bottom: 24px;
}

.form-inline {
  padding: 0 0 12px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}